[submodule "prereq-ts"]
	path = prereq-ts
	url = https://github.com/hutomosaktikartiko/turbin3-prereq-ts.git
[submodule "prereq-rs"]
	path = prereq-rs
	url = https://github.com/hutomosaktikartiko/turbin3-prereq-rs.git
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/hutomosaktikartiko/turbin3-solana-starter.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/hutomosaktikartiko/anchor-vault.git
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/hutomosaktikartiko/anchor-escrow.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/hutomosaktikartiko/turbin3-anchor-amm.git
